body {
	transition: all 1s ease-in-out;
	overflow: hidden;
	width: 100vw;
	height: 100vh;
	background-image: url("filet-o-fish.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0;
}

#container {
	display: flex;
	flex-direction: column;
	height: 100vh;
}

#title {
	text-align: center;
	height: 2em;
	flex: 1;
	font-size: 5em;
	font-family: "Impact", sans-serif;
	text-shadow: -0.1rem -0.1rem 0 var(--title-outline-colour), 0.1rem -0.1rem 0 var(--title-outline-colour), -0.1rem 0.1rem 0 var(--title-outline-colour), 0.1rem 0.1rem 0 var(--title-outline-colour);
	margin: 0;
}

#title::selection {
	color: var(--title-selection-colour);
	background-color: var(--title-selection-bg-colour);
}

#container iframe {
	background: transparent;
	flex: 9;
	width: 100vw;
}
